<head>
    <title>Y-Geometry drawing</title>
    <style>
        table {
            border-collapse: separate;
            border-spacing: 0
        } td {
            border-left: 0;
        } button {
            border: 0;
            padding: 8px;
            height: 100%;
            width: 100%
        }
            
    </style>
</head>
<body style="background-color: azure;"> <div class="row">
    <h2><a href="/">Y-Geometry Home</a> | <a href="/drawing">[Pixel drawing]</a></h2> <form action="/drawing" method="post">
    <b>Setup canvas</b> - Number of rows: <input type="number" name="nrows" step="1" min="1" max="100" value="{{site.nrows}}"> | 
    Number of columns: <input type="number" name="ncols" step="1" min="1" max="100" value="{{site.ncols}}"> | 
    <input type="submit" name="create" value="Create or reset canvas >>"> <br>
    Or, load draft canvas from history: <select name="hid">{% for i, title, w, h in site.history %}
        <option value="{{i}}">#{{i}}: {{title}} ({{h}}x{{w}}) </option>{% endfor %}
    </select><input type="submit" name="load" value="Load >>"> <span style="background-color: lightgreen;">[{{msg}}]</span>  <br>
    <h3> Session: #{{site.session}} <input type="submit" name="hdel" value="Delete">
    - Name this drawing: <input type="text" name="svname" value="{{site.title}}"> 
    <input type="submit" name="save" value="Update drawing">
    <input type="submit" name="save" value="Save as copy"></h3></div><div class="row">
        {% if pname %} <h3>Preview image | <input type="submit" name="" value="Back to drawing"></h3> 
            <img src="{{pname}}" alt="Rendering">
        {% endif %}
    <table><tr><tr><th>Select color</th>
            {% for col in site.palette %} <td><button name="color_{{col[0]}}"  
                style="color:azure; background-color: {{col[1]}}; {% if col[2] %}border: 2px solid black 
                {% else %}border: 1px dashed black {% endif %}" value="color">{% if col[2] %}x{% endif %}
            </button></td>{% endfor %}
        </tr></table>
    {% if canvas != "" %}
    <input type="submit" name="fill" value="Fill color in the region"> | 
    <input type="submit" name="render" value="Render drawing as image"> | 
    <input type="submit" name="undo" value="< Undo action" {% if site.first_state() %} disabled {% endif %}>
    <input type="submit" name="redo" value="Redo >" {% if not site.canvas[1] %} disabled {% endif %}>
    <table><tr><td></td>{% for c in canvas[0] %} <td><button name="spancol_{{c[1]}}" value="spc"
        style="border: 1px solid skyblue; {% if c[1] in site.spancol %}background-color: lightsalmon{% endif %}"></button>
    </td> {% endfor %}</tr>{% for row in canvas %} <tr> 
        <td><button name="spanrow_{{row[0][0]}}" value="spr" style="border: 1px solid skyblue;
        {% if row[0][0] in site.spanrow %}background-color: lightsalmon{% endif %}"></button></td>{% for col in row %}
        <td><button style="padding: 10px;{% if col[2] %} background-color: {{site.palette[col[2]][1]}};{% endif %}"  
            name="pix_{{col[0]}}_{{col[1]}}" value="pen"></button> </td>
        {% endfor %}</tr> {% endfor %}</table>
    {% endif %}</form></div>
</body>